.logo {
    height: 5rem;
}

.banner {
    height: 20rem;
    width: 100vw;
    object-fit: cover;
}

.card {
    width: 15rem;
}

.redes {
    width: 3rem;
}

.footer {
    background-color: #f8f9fa;
}

#card-one {
    width: 17rem;
}

.table-custom td,
.table-custom th {
    border: 1px solid black;
}

.colorbordetabla {
    border-style: solid;
    border-color: black;
  }
  
  .titulotabla {
    background-color: rgb(218, 165, 165);
  }

.card {
    width: 100%;
}